.app_container {
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
    grid-auto-flow: column;

    app-navbar {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    app-home {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    app-room {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    router-outlet {
        grid-column: 3/4;
    }

    app-createusername {
        grid-column: 2/3;
    }
}
