.app_container {
    display: grid;
    grid-template-columns: minmax(150px, 400px) 80%;

    app-navbar {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    app-home {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
